body {
    background-color: rgba(200,0,100,0.3);
    font-family: sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("https://i.imgur.com/G5KNkzp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

/* Menú principal */
nav ul.menu {
  list-style: none;       /* quitar viñetas */
  margin: 0;
  padding: 10px;
  display: flex;          /* los li en fila */
  background-color: #e8e8e7;
  gap: 5px;
}

nav ul.menu li {
  position: relative;     /* necesario para posicionar el submenú */
}

/* Enlaces del menú */
nav ul.menu li a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
  display: flex;        /* ocupa todo el área */
  align-items: center;
  height: 75px;             /* altura fija igual que el logo, opcional */
  width: 100px;
  transition: font-weight 0.2s ease;
}

nav ul.menu li a:hover {
  font-weight: bold;
  background-color: #ddd;
}

/* Submenús */
nav ul.submenu {
  display: none;             /* ocultos por defecto */
  position: absolute;
  top: 100%;                 /* justo debajo del padre */
  left: 0;
  background-color: #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 160px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav ul.submenu li a {
  padding: 10px 15px;
  white-space: nowrap;       /* no se rompa el texto */
}

nav ul.submenu li a:hover {
  background-color: #ccc;
}

/* Mostrar submenú SOLO si el li tiene-submenu */
nav ul.menu li.tiene-submenu:hover > ul.submenu {
  display: block;
}

nav ul.menu li a, nav ul.menu li a strong {
  line-height: 1;  /* evita que <strong> suba el texto */
}



.logotipo {
    background-color: rgb(77, 77, 77);
    background-image: url("https://i.imgur.com/4xc2jTN.png");
    background-position: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 75px;
    width: 150px;
  
}

footer {
    background-image: url(../../../../Downloads/niñoscorriendo.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size:contain;
    height: 50px;
    display: flex;            /* Activamos flexbox */
    flex-direction: column;   /* Para que los elementos vayan de arriba a abajo */
    justify-content: flex-end;
    padding-bottom: 5px;  /* Aumenta este valor para subir el texto */
    overflow: hidden;

} 

main {
    text-align: justify;
    flex: 3.2
}

h1 {
    text-align: center;
}
footer {
    text-align: center;
}


@media (max-width: 768px) {
  .logotipo {
    width: 100px;
    height: 50px;
  }

  nav ul.menu {
    flex-direction: column;  /* menú en columna */
    align-items: center;
  }

  nav ul.menu li a {
    width: 100%;            /* que ocupen todo el ancho */
    text-align: center;
  }
}